:root {
    --background-light: linear-gradient(304deg,  #f2f7ab, #ffc100);
    --background-dark: linear-gradient(304deg, #ff0000, #a300ff,black);
}

/* Automatically switch between light and dark mode based on system preference */
@media (prefers-color-scheme: dark) {
    html {
        background-image: var(--background-dark);
    }
}

@media (prefers-color-scheme: light) {
    html {
        background-image: var(--background-light);
    }
}

/* Background size and animation */
html {
    background-size: 1600% 1600%; /* Increase background size for smoother animation */
    -webkit-animation: AnimationName 23s linear infinite; /* Adjusted animation duration */
    -moz-animation: AnimationName 23s linear infinite;
    animation: AnimationName 23s linear infinite;
}

/* React icons styling */
.react-icons {
    vertical-align: middle;
}

/* Keyframes animation */
@-webkit-keyframes AnimationName {
    0% {background-position: 0% 42%}
    100% {background-position: 100% 59%} /* Adjusted animation endpoints */
}
@-moz-keyframes AnimationName {
    0% {background-position: 0% 42%}
    100% {background-position: 100% 59%}
}
@keyframes AnimationName {
    0% {background-position: 0% 42%}
    100% {background-position: 100% 59%}
}
