html {
  scroll-snap-type: y mandatory;
}



.video-container {
  /* position: relative; */
  height: 85vh;
  /* width: 70%; */
  /* max-width: 500px; */
  /* border-radius: 20px; */
  /* background-color: white; */
  overflow: scroll;
  scroll-snap-type: y mandatory;
}

/* for chrome and opera */
.video-container::-webkit-scrollbar {
  display: none;
}
.reelwin {
  height: 85vh;
}

video {
  width: 100%;
  height: 85vh;
  /* position: relative; */
}

